<div id="body">
    <div class="container">

        <h1 class="text-center text-white"> Contact Us      </h1>
        
       
  
        <div class="row mt-4">
            <div class="col">
                <div class="text-white"> <img src="./call.jpg" width="60px;"> &nbsp<b>  507-475-6094</b></div> <br>
                <div class="text-white"> <img src="./gmail.jpg" width="70px;"> &nbsp <b>  Cateringservice@gmail.com</b></div>
            </div>
            <div class="col"></div>
            <div class="col">
                <div class="card card-body border-5" style="width:300px; height:400px;">  
                    <h3> Get in touch with us</h3>
                    <div> <input type="text" name="name" id="name" class="form-control" Placeholder="Enter your name"></div><br>
                    <div> <input type="number" name="name" id="number" class="form-control" Placeholder="Enter your number"></div><br>
                    <div> <input type="gmail" name="name" id="gmail" class="form-control" Placeholder="Enter your Email-id"></div><br>
                    <div> <input type="text" name="msg" id="gmail" class="form-control" Placeholder="Enter your Queries"></div><br>
                    <div> <button type="button" class="btn-danger"> Send </button></div>
                    


                </div>



            </div>






        </div>
</div>
</div>
