#back{

    margin-left:1100px;
    font-size: large;
    text-decoration: none;
    color:deeppink;
    margin-bottom: 500px;

    
    }

    #body{

        background-image: url(../../assets/images/build.jpg);
    }