<div class="container">
    <!-- <div class="row">  -->
     <!-- <div class="col-1" > <button type="button" id="button" class="btn-success" onclick="getclick()">Home</button></div> -->
      <!-- <div class="col-1"  ><button type="button" id="button" class="btn-primary"  onclick="getclick1()">Service</button></div> -->
  <!-- </div> -->
                                                                                                                                                 
     <div class="card card-body border-3 text-center" style="width:1200px; height:200px; background-image: url('../../assets/images/aboutus.jgp.webp'); background-repeat: no-repeat; background-size: cover;"><h1 class="text-white"> About Us </h1></div>
  
      <div class="row mt-5">
          <div class="col">
             <h1>Catering Service / Caterers</h1>
              <p> If you are planning a celebration, let us take care of the food details so you have time to greet your guests with style.<br>
                  With each event that we cater, we continually develope a reputation for excellence in wedding catering, corporate catering,<br>
                  holiday party catering, and so much more. We help you create memorable celebrations for your most special occasion. <br>
                  From rental equipment to floral decor, we can assist you with all of the event details so that you can feel like a guest at your own party!
                  </p>
                  <p>We are more than capable of catering to a wide range of events and sizes of groups, from feeding hundreds of guests to table-side service <br>
                  for an intimate dinner party with some of your closest friends — and everything in between! <br>
                  Let us be the gateway to your next catered event. Our full-service catering company not only provides great tasting food with outstanding service <br>
                  at competitive prices, we can also orchestrate events at the venue of your choice. <br>
                  If you are ready to get started, contact our team to book our catering services in Westland.
                  </p>
              
              
               </div>
          <div class="col"> </div>    
          <div class="col"> <img src="../../assets/images/gulob.jpg" width="400px;" style="border-radius: 20px; "> </div>
  
  
  
  
      </div>
  
  
