<div id="body">

<div class="container">

    <h1 class="text-center text-success"> Place Your Order</h1>


    <div class="row mt-5">

        <div class="col"></div>
        
        <div class="col">
            <div class="card card-body border-3" id="card1"> 
            <h3 class="text-white text-center">Personal Details</h3>
            <div class="text-white"> Name: <input type="text" id="name" name="name" class="form-control"></div>
            <div class="text-white"> Mobile: <input type="number" id="number" name="number" class="form-control"></div>
            <div class="text-white"> Email: <input type="email" id="email" name="email" class="form-control"></div>
            <div class="text-white"> City: <input type="text" id="city" name="city" class="form-control"></div>

</div>
</div>
        




<div class="col">
            <div class="card card-body border-3" id="card2"> 
            <h3 class="text-white">Menu Details</h3>
            <div class="text-white"> Date of Event: <input type="datetime-local" name="date" id="date" class="form-control"></div> <br>
            <div class="text-white">Type of Catering:  </div> 
               <div class="text-white"> <select name="catering" id="catering"> 
                                       <option>Wedding</option>
                                        <option>industrial</option>
                                        <option>Corporate</option>
                                        <option>Engagement</option>
                                        <option>Marriage reception</option>
                                        <option>Birthday party</option>
                                        <option>Birthday party</option>
                                        <option>Baby Shower</option>
                                        <option>Birthday party</option>
    </select>
    </div><br>
    
    <div class="text-white"> Food type:</div>
    <div > <select name="foodtype" id="foodtype">
        <option> Vegetarian </option>
        <option> Non Vegetarian</option>
    </select>
    </div><br>
    
    
    <div class="text-white"> Menu  Category:</div>
    <div class="text-white">  
        
        <input type="checkbox" name="menu" id="menu" value="Morning menu"/>Morning Menu <br>
          <input type="checkbox" name="menu" id="menu" value="Lunch menu"/>Lunch menu <br>
          <input type="checkbox" name="menu" id="menu" value="High tea menu"/> High tea menu<br>
          <input type="checkbox" name="menu" id="menu" value="Dinner menu"/> Dinner menu<br>
    </div>
    
    
    <div class="text-white"> Guest Count : <input type="number" name="count" id="count"></div>
    <div class="text-white"> Event Budget : <input type="number" name="budget" id="budget"></div>
    <div class="text-white"> Event Place : <input type="text" name="place" id="place"></div>
    
    <div class="text-white"> How did you hear about us :</div>
    
    <div class="text-white">
    <input type="radio" name="radio" id="hear" value="Friends or family"/> friends or family<br>
    <input type="radio" name="radio" id="hear" value="Google"/> Google <br>
    <input type="radio" name="radio" id="hear" value="Facebook"/> Facebook <br>
    <input type="radio" name="radio" id="hear" value="Instagaram"/> Instagaram <br>
    <input type="radio" name="radio" id="hear" value="others"/> others <br> <br>
    <button type="button" class="btn-success" > Send</button>      <button type="button" class="btn-danger">Clear</button>
    </div><br>

    
    
    
</div>

</div>
