@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@400;700;800;900&family=Kanit&family=Mulish:ital@1&family=Noto+Sans:wght@800&family=Oswald:wght@500&family=PT+Serif:ital,wght@1,700&family=Poppins&family=Roboto&family=Rubik:wght@500&display=swap'); 

        #pre1{
            font-family:'Times New Roman', Times, serif;
            font-size: large;
            font-weight: 500;
            color:green;


        }
        #pre2{

            font-family:'Times New Roman', Times, serif;
            font-size: xx-large;
            font-weight: 600;
            background-color: yellow;
        }
#div1{

    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: 800;

            
    
}
#body{

    background-color:darkkhaki;
}